.lesson-view
{
    -fx-pref-height: 75;
    -fx-max-height: -fx-pref-height;
    -fx-pref-width: 75;
    max-width: -fx-pref-width;
    -fx-background-radius: 2;
    -fx-background-color: #1f1f1f;
}

.subject-label
{
    -fx-font-weight: bold;
}

.group-label
{
    -fx-text-fill: gray;
    -fx-font-size: 10;
}

.teacher-label
{
    -fx-font-style: italic;
}