.grade-view
{
    -fx-pref-height: 25;
    -fx-pref-width: 25;
    -fx-background-radius: 2;
}

.grade-view:small
{
    -fx-max-height: 15;
    -fx-max-width: 15;
}

.grade-view:valueN
{
    -fx-background-color: gray;
}

.grade-view:value1
{
    -fx-background-color: #27c42d;
}

.grade-view:value2
{
    -fx-background-color: #16780b;
}

.grade-view:value3
{
    -fx-background-color: #d1cc30;
}

.grade-view:value4
{
    -fx-background-color: #c55a00;
}

.grade-view:value5
{
    -fx-background-color: #cc1f00;
}

.grade-average-view
{
    -fx-min-height: 30;
    -fx-min-width: 30;

    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 2;
}