.root,
.mfx-text-field,
.mfx-text-field .floating-text,
.mfx-context-menu *
{
    -fx-background-color: -dark-color;
}

.login-label
{
    -fx-font-size: 30;
}

.field-icon
{
    -mfx-color: white;
    -fx-font-size: 20;
}

.mfx-text-field
{
    -fx-pref-width: 250;
    -mfx-main: -primary-color;
}

/* Normally the floating text has main color by default.
 * But since we override it by white color on everything, we have to override it back to main color.
 * Focus within is basically equivalent to focused. */
.mfx-text-field:floating.mfx-text-field:focus-within .floating-text
{
    -fx-text-fill: -mfx-main;
}

.mfx-button
{
    -fx-background-color: -primary-color;
    -fx-text-fill: black;
}