#sidebar
{
    -fx-background-color: -dark-color;
}

/*
  The border's color is set to transparent, because it makes the border "render", but transparent, so it is not actually seen.
  This is because the border changes the element's size and moves everything slightly.
  This everything slightly moved always, so it is not noticeable.
 */
.side-bar-element
{
    -fx-border-color: transparent;
}

.side-bar-element
{
    -fx-background-color: #191919;
}

.side-bar-element .icon-view
{
    -jd-icon-color: white;
}

.side-bar-element:hover
{
    -fx-cursor: hand;
}

.side-bar-element:selected .image-view
{
    -jd-icon-color: -primary-color;
}

.side-bar-element:selected
{
    -fx-border-color: -primary-color;
}

.side-bar-element:selected .label
{
    -fx-text-fill: -primary-color;
}