.grade-view .label
{
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.grid-pane,
.scroll-pane,
.scroll-bar
{
    -fx-background-color: -dark-color;
}

.scroll-bar .thumb,
.scroll-bar .decrement-button:hover,
.scroll-bar .increment-button:hover
{
    -fx-background-color: #292929;
}

.separator
{
    -fx-valignment: center;
}

.separator .line
{
    -fx-border-color: #ffffff10;
}