/* For some reason, targeting root in custom components doesn't work. (no rules are applied) */
/*.root:hover
{
    -fx-cursor: hand;
    -fx-background-color: #181818;
}*/

.label
{
    -fx-font-size: 14;
    -fx-background-color: transparent;
}