*
{
    -fx-background-color: #121212;
    -fx-text-fill: white;
    -fx-font-size: 12;
}

.separator .line
{
    -fx-border-style: solid;
    /* Makes the separator just 1px wide. */
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #181818;
}