*
{
    -primary-color: #00acc1;
    -dark-color: #121212;

    -fx-text-fill: white;
}

.button:hover,
.mfx-button:hover,
.mfx-text-field .mfx-icon-wrapper
{
    -fx-cursor: hand;
}

.separator .line
{
    -fx-border-style: solid;
}

.separator:horizontal .line
{
    /* Makes the separator just 1px wide. */
    -fx-border-width: 0 0 1 0;
}

.separator:vertical .line
{
    /* Makes the separator just 1px wide. */
    -fx-border-width: 0 0 0 1;
}